<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
<!--<p th:text="${data}"></p>-->
<th:block th:each="key : ${data.keySet()}">
    <th:block th:text="${key}"></th:block>
    <th:block th:each="value : ${data.get(key)}">
        <th:block th:text="${value.getName()}"></th:block>
        <th:block th:text="${value.getDescription()}"></th:block>
    </th:block>
</th:block>
</body>
</html>