<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/adminboard-resources/css/style.css}" rel="stylesheet" />
    <script src="jquery-3.4.1.js"></script>
</head>
<body>
<section class="login-form">
    <h1>ADMIN BOARD</h1>
    <form th:action="@{/admin-board/action/login}" th:object="${login}" method="post">
        <div class="int-area">
            <input type="text" name="memberId" id="memberId" autocomplete="off" required>
            <label for="memberId">USER NAME</label>
        </div>
        <div class="int-area">
            <input type="password" name="password" id="password" autocomplete="off" required>
            <label for="memberId">PASSWORD</label>
        </div>
        <div th:if="${error}" style="text-align: center; margin-top: 20px">
            <p th:text="${error}" class="error-message" style="color:red; text-align: center"></p>
        </div>
        <div class="btn-area">
            <button type="submit">LOGIN</button>
        </div>
    </form>
<!--    <div class="caption">-->
<!--        <a href="">Forgot Password?</a>-->
<!--    </div>-->
</section>
<script>
    let memberId = $('#memberId');
    let password = $('#password');
    let btn = $('#btn');

    $(btn).on('click', function () {
        if($(memberId).val() == "") {
            $(memberId).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500)
        } else if($(password).val() == "") {
            $(password).next('label').addClass('warning');
            setTimeout(function () {
                $('label').removeClass('warning');
            }, 1500)
        }
    })
</script>
<script src="/adminboard-resources/js/script.js"></script>
</body>
</html>
